$primario:  #3C4259;
$darkprimario: #33384b;
$secundario: #8392A6;
$terciario: #F68486;
$link: cyan;


$carrusel: white;
$fuenteMenu: white;
$fuenteFooter: white;
$linkHover: white;
$boxFuente: white;
$boxClaroFuente: white;
$boxNoMarginFuente: white;
$boxNoBackgroundFuente: white;
$indicadorCarruselActivoFondo: white;
$botonFuente: white;
$botonOscuroFuente: white;
$botonRojoHoverFuente: white;
$botonRojoFuente: white;
$botonBorde: white;

$twitter: cyan;
$youtube: red; 
$instagram: hotpink;
$facebook: royalblue;

$fondoredes: rgba(0, 0, 0, 0.089);
$fondovideo: rgba(255, 255, 255, 0.432);
$transparente:  rgba(255, 255, 255, 0);