@import 'colores';
@import 'imagenes';
@import 'fuentes';

@import url('https://fonts.googleapis.com/css2?family=Karla&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');

body {
    font-family: $cuerpo, $fuenteDefault;
}

h1, h2, h3, h4 h5, h6 {
    font-family: $titulo, $fuenteDefault;
}
/*PARTE DE LA CABECERA*/
#cabecera {
    background-image: url($cabecera);
    background-size: cover;
    background-repeat: no-repeat;
    width: auto;   
    height: auto; 
}

#subcabecera {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
#logo{
    padding-top: 1em;
    padding-bottom: 3em;
}

/*REDES SOCIALES*/

#redesSociales {
    padding: 0.5em 0.5em 0em 0.5em;
}
#redesSociales.light{
    background-color: $fondoredes;
     
}

/*#redesSociales.dark{
    
}*/

#redsocial.twitter{
    color: $twitter;
    font-size: 1.5em;
    padding-left: 0.2em;
}
#redsocial.youtube{
    color: $youtube;
    font-size: 1.5em;
    padding-left: 0.2em;
}
#redsocial.instagram{
    color: $instagram;
    font-size: 1.5em;
    padding-left: 0.2em;
}
#redsocial.facebook{
    color: $facebook;
    font-size: 1.5em;
    padding-left: 0.2em;
}
/*FIN REDES SOCIALES*/



/*BANDERAS*/
#banderas{
    padding: 0.5em 0.5em 0em 0.5em;
}
#bandera{
    font-size: 1.45em;
    padding-left: 0.2em;
    
}
/*FIN BANDERAS*/

/*MENU*/
.navbar {
    background-color:$secundario;
    width: auto;
    color: $fuenteMenu; 
}

.navbar-nav {
    flex: 0.9;
    margin: auto !important;
    display: flex;
    justify-content: space-between;
}



/*FOOTER*/
.page-footer{
    padding-top: 1em;
    color: $fuenteFooter;
    background-color:$primario;
}

a{
   color: $link;
}

a:hover {
    color: $linkHover;
}
.clinica{
    padding-bottom: 2em;
}

.politicas{
    display: flex;
    align-self: flex-end;
    margin-bottom: 2em;
    text-align: right;
}

/*BOX*/
.box {
    background-color:$primario;
    color: $boxFuente;
    margin: 1em;  
}

.box-claro{
    background-color:$secundario;
    color: $boxClaroFuente;  
}

.box-nomargin {
    background-color:$primario;
    color: $boxNoMarginFuente;   
}

.box-nobackground {
    padding-top: 2em;
    color: $boxNoBackgroundFuente;
    margin: 1em;   
}

.box-content {
    padding: 2.5em;
}

/*CARDS*/
.card {
    background-color: $transparente;
    border: 0px;
}

.card-body{
    text-align: center;
    margin-bottom: 1em;
}

.carousel-indicators li {
    background-color:$secundario;
}

.carousel-indicators .active {
    background-color: $indicadorCarruselActivoFondo;
}

/*GALERIA*/
.galeria{    
    text-align: center;
}


/*PARTE AVISO LEGAL*/
.aviso{
    padding: 1em;
    text-align: justify;
}

.carta{
    background-color:$primario;
    text-align: left;
    height: 7em;
}

.carta-producto{
    background-color:$primario;
    text-align: left;
    height: 5em;
}

.adoptar{
    background-color:$primario;
    text-align: left;
}

/*imagenes*/
img.ajustada{
    width: 100%;
    height: 100%;
}

.card-img-top-servicio {
    width: 100%;
    height: 10vw;
    object-fit: cover;
}



.galeria {
    width: 100%;
    height: 10vw;
    object-fit: cover;
}

p{
    text-align: justify;
}

.boton:hover{
    background-color:$secundario;
    border-radius: 0px;
    border-color:$secundario;
}

.boton{
    background-color: $botonFuente;
    border-radius: 0px;
    border-color: $botonBorde;
    color: $primario;
}

.boton-oscuro:hover{
    background-color:$secundario;
    border-radius: 0px;
    border-color:$secundario;
    color:$primario;
}

.boton-oscuro{
    color: $botonOscuroFuente;
    border-radius: 0px;
    border-color:$primario;
    background-color: $primario;
}

.foto-adoptar {
    padding: 0px;
    height: 19em;
}

a.sesion{
    color:$primario;
    text-decoration: underline;
}

a.sesion:hover {
    color:$secundario;
}

.fondo-perro {
    background-image: url($registro);
    background-size: cover;
    background-repeat: no-repeat;
    width: auto;   
    height: auto; 
    padding: 2em;
}

.fondo-compra {
    background-image: url($finCompra);
    background-size: cover;
    background-repeat: no-repeat;
    width: auto;   
    height: auto; 
    padding: 2em;
}

.queda{
    background-color:$primario;
    color: $terciario;
    text-align: center;
}

.boton-rojo:hover{
    border-radius: 0px;  
    color: $botonRojoHoverFuente;
    border-color: $darkprimario;
    background-color:  $darkprimario;
}

.boton-rojo{
    color: $botonRojoFuente;
    border-radius: 0px;
    border-color:$primario;
    background-color: $primario;
}

.comentario {
    border:$primario 2px solid ;
}

.resp-der {
    border-top:$primario 2px solid;
    border-bottom:$primario 2px solid;
    border-left:$primario 2px solid;
   
}

.resp-izq {
    border-top:$primario 2px solid;
    border-bottom:$primario 2px solid;
    border-right:$primario 2px solid;
}

//reproductor
#play {
    color: green;
    font-size: 2.1em;
    justify-content: center;
}

#pause {
    color: $primario;
    font-size: 2.1em;
    justify-content: center;
}

#voldown, #volup {
    color: $primario;
    font-size: 2.1em;
    justify-content: center;
}

#volmute {
    color: white;
    font-size: 2.1em;
    justify-content: center;
}

.reproductor {
    background-color: $fondoredes;
    padding: 0.5em 0.5em 0em 0.5em;
}

.player{
    display: flex;
    justify-content: center;
}

.fullvideo {
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;
}
.fullvideo video {
    position: fixed;
    height: 100%;
    width: 177.77777778vh;
    min-width: 100%;
    min-height: 56.25vw;
    object-fit: cover;
    z-index: -1000;
}

.container.extra {
    background-color: $fondovideo;
    margin-bottom: 3em;
    padding-bottom: 1em;
}

img.byn{
    filter: grayscale(100%);
}

img.sepia{
    filter: sepia(100%);
}

img.blur{
    filter: blur(3px);
}

.aviso{
    width: 80%;
    height: 50px;
    background: $primario;
    margin-top: 30px;
    color: white;
}